sentence-transformers==2.2.2
langchain==0.2.2  # Pin to a stable version
flask
pypdf
python-dotenv
pinecone-client  # Keep only this for Pinecone
langchain_community
langchain_openai
langchain_experimental
-e.